<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../variables.css">
    <script type="module" src="../../../dist/bundle.js"></script>

    <title>Drop down demo</title>
</head>

<body>

    <gcl-badge kind="primary">
        <span>M</span>
    </gcl-badge>

    <br/>
    <gcl-badge kind="success">
        <span>5</span>
    </gcl-badge>

    <br/>
    <gcl-badge kind="danger">
        <span>15</span>
    </gcl-badge>

    <br/>
    <gcl-badge kind="warning">
        <span>8</span>
    </gcl-badge>

</body>

</html>