:host {
    font-size: .5rem;
    width: .8rem;
    height: .8rem;
    padding: .3rem;
    text-align: center;
    line-height: .8rem;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
}

:host([kind='primary']) {
    background-color: var(--gcl-color-primary);
    color: var(--gcl-color-on-primary);
}

:host([kind='secondary']) {
    background-color: var(--gcl-color-secondary);
    color: var(--gcl-color-on-secondary);
}

:host([kind='tertiary']) {
    background-color: var(--gcl-color-tertiary);
    color: var(--gcl-color-on-tertiary);
}