<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../variables.css">
    <script type="module" src="../../../../../../dist/bundle.js"></script>

    <title>Close tool demo</title>

    <script>

        function onCloseTool() {

            alert('Trying to close tool!');
        }

    </script>

</head>

<body>

    <gcl-close-tool kind="primary" size="large" close="onCloseTool()"></gcl-close-tool>

</body>

</html>