<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../variables.css">

    <script>

        function getAppConfig() {

            return {
                // auth: {
                //     authority: "https://localhost:5000",
                //     client_id: "gclib-demo",
                //     redirect_uri: "https://localhost:5501/oidc-callback.html",
                //     response_type: "id_token token",
                //     scope: "openid profile email gclib-demo.user",
                //     post_logout_redirect_uri: "https://localhost:5501/"
                // },
                intl: {
                    lang: 'en',
                    data: {
                        'en': {
                            'goodMorning': 'Good morning'
                        },
                        'de': {
                            'goodMorning': 'Guten Morgen'
                        },
                        'fr': {
                            'goodMorning': 'Bonjour'
                        }
                    }
                }
            };
        }

    </script>

    <script type="module" src="../../../../../../dist/bundle.js"></script>

    <script>

        window.addEventListener('change', event => alert(`
            Event type: 'change'
            Field name: '${event.detail.name}'
            Field old value: '${event.detail.oldValue}'
            Field new value: '${event.detail.newValue}'
        `));

    </script>

    <title>Form</title>

</head>

<body>

    <!-- <gcl-form submit-url="http://localhost:60314/api/contacts/">
        <gcl-form-field>
            <span slot="label">Name</span>
            <gcl-text-field slot="field" id="tf1" name="name"></gcl-text-field>
        </gcl-form-field>
    </gcl-form>

    <br /> -->

    <h4>Submit only</h4>
    <gcl-form id="submitOnly" submit-url="http://localhost:60314/api/contacts/" justify-label-content="end">

        <gcl-hidden-field name="id" is-id="true"></gcl-hidden-field>

        <gcl-form-field>
            <gcl-localized-text slot="label">First (SurName) Name</gcl-localized-text>
            <span slot="tools">!</span>
            <gcl-text-field slot="field" name="name" value="Sarah"></gcl-text-field>
        </gcl-form-field>

        <gcl-form-field>
            <gcl-localized-text slot="label">Avatar</gcl-localized-text>
            <gcl-file-field slot="field" name="avatar"></gcl-file-field>
        </gcl-form-field>
    </gcl-form>

    <h4>Load and submit</h4>
    <gcl-row justify-content="center">

        <gcl-form id="loadAndSubmit" load-url="http://localhost:60314/api/contacts/1"
            submit-url="http://localhost:60314/api/contacts/" label-width="35%" style="width: 700px;">

            <gcl-hidden-field name="id" is-id="true"></gcl-hidden-field>

            <gcl-form-field required help="This is the name of the person">
                <gcl-localized-text slot="label">First Name</gcl-localized-text>
                <!-- <span slot="tools">!</span> -->
                <gcl-text-field slot="field" name="name"></gcl-text-field>
            </gcl-form-field>

            <gcl-form-field required help="This is the gender of the person">
                <gcl-localized-text slot="label">Gender</gcl-localized-text>
                <gcl-combo-box slot="field" name="gender">
                    <div slot="content">
                        <gcl-data-list data='[
                            {
                                "code": "M",
                                "description": "Male"
                            },
                            {
                                "code": "F",
                                "description": "Female"
                            }
                        ]' id-field="code" display-field="description">
                        </gcl-data-list>
                    </div>
                </gcl-combo-box>
            </gcl-form-field>

            <!-- <gcl-combo-box label="Gender" name="gender" required load-url="http://localhost:60314/api/genders"
                value-field="code" display-field="description">
            </gcl-combo-box> -->

            <gcl-form-field required help-resource-key="dateOfBirth">
                <gcl-localized-text slot="label">Date of Birth</gcl-localized-text>
                <!-- <span slot="tools">!</span> -->
                <gcl-date-field slot="field" name="dateOfBirth"></gcl-date-field>
            </gcl-form-field>

            <gcl-form-field required>
                <gcl-localized-text slot="label">Avatar</gcl-localized-text>
                <!-- <span slot="tools">!</span> -->
                <gcl-file-field slot="field" name="avatar"></gcl-file-field>
            </gcl-form-field>

        </gcl-form>
    </gcl-row>
</body>

</html>