<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../variables.css">
    <script type="module" src="../../../../../../dist/bundle.js"></script>

    <script>

        window.addEventListener('change', event => alert(
            `
        Event type: 'change'
        Field name: '${event.detail.name}'
        Field old value: '${event.detail.oldValue}'
        Field new value: '${event.detail.newValue}'
`));

    </script>

    <title>Form</title>

</head>

<body>

    <!-- <gcl-form submit-url="http://localhost:60314/api/contacts/">
        <gcl-form-field>
            <span slot="label">Name</span>
            <gcl-text-field slot="field" id="tf1" name="name"></gcl-text-field>
        </gcl-form-field>
    </gcl-form>

    <br /> -->

    <h4>Submit only</h4>
    <gcl-form id="submitOnly" submit-url="http://localhost:60314/api/contacts/">

        <gcl-hidden-field name="id" is-id="true"></gcl-hidden-field>

        <gcl-form-field>
            <gcl-text slot="label">First (SurName) Name</gcl-text>
            <gcl-text-field slot="field" id="tf2" name="name" value="Sarah"></gcl-text-field>
        </gcl-form-field>
    </gcl-form>

    <h4>Load and submit</h4>
    <gcl-form id="loadAndSubmit" load-url="http://localhost:60314/api/contacts/1" submit-url="http://localhost:60314/api/contacts/">

        <gcl-hidden-field name="id" is-id="true"></gcl-hidden-field>

        <gcl-form-field>
            <gcl-text slot="label">First Name</gcl-text>
            <gcl-text-field slot="field" id="tf2" name="name" validators='["required"]'></gcl-text-field>
        </gcl-form-field>
    </gcl-form>

</body>

</html>