:host svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    color: inherit;
}

:host([size='large']) {
    font-size: var(--gcl-icon-size-large);
}

:host([size='medium']) {
    font-size: var(--gcl-icon-size-medium);
}

:host([size='small']) {
    font-size: var(--gcl-icon-size-small);
}