<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="module" src="../../../dist/bundle.js"></script>

    <script>

        function getData() {

            return [
                {
                    name: "Sarah",
                    age: 19,
                    description: 'Smart and beautiful'
                },
                {
                    name: "Mark",
                    age: 31,
                    description: 'Dedicated and perseverant'
                }
            ];
        }

        function getFields() {

            return ["name", "age", "description"];
        }

    </script>

    <title>Drop down demo</title>
</head>

<body>

    <gcl-drop-down id="dg1" fields='["name", "age", "description"]' data='[
        {
            "name": "Sarah",
            "age": 19,
            "description": "Smart and beautiful"
        },
        {
            "name": "Mark",
            "age": 31,
            "description": "Dedicated and perseverant"
        }
    ]'></gcl-drop-down>
    
    <br />
    <gcl-drop-down id="dg2" fields="getFields()" data="getData()"></gcl-drop-down>
</body>

</html>